*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Open Sans", sans-serif;
    background-color: #f5f7f8;
    position: relative;
}
.home{
    position: relative;
}
.topbar{
    width: 100%;
    height: 50px;
    background-color:#4d636f;
}
.home1{
    width: 130px;
    height: 50px;
    background-color:#3a4b53;
    position: absolute;
    top: 0;
}
.home :hover{
    background-color: lightgray;
    color: black;
}
.fa-home{
    color: white;
    display: inline-block;
    padding: 15px;
}
.logo{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.home-link{
    text-decoration: none;
}
.account{
    height: 50px;
    position: absolute;
    left: 130px;
}
.account1{
    text-decoration: none;
    color: white;
}
.account1 i{
    font-size: 20px;
    padding: 15px;
    margin-left: 20px;
}
.account1 :hover{
    background-color: white;
    color: black;
}
.my{
    height: 50px;
    position: absolute;
    right: 200px;
}
.pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 4.5px;
}
.log{
    width: 200px;
    height: 50px;
    position: absolute;
    right: 0;
}
.log1{
    text-decoration: none;
    width: 90px;
    height: 25px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 12px;
    right: 5px;
    text-align: center;
    font-size: 20px;
    color: black;
}
.sign{
    text-decoration: none;
    width: 90px;
    height: 25px;
    border-radius: 10px;
    background-color: rgb(194, 193, 193);
    position: absolute;
    top: 12px;
    right: 80px;
    text-align: center;
    font-size: 20px;
    overflow:visible;
    color: white;
}
.log :hover{
    background-color: rgb(194, 193, 193);
    color: white;
}
.profile{
    width: 300px;
    height: 350px;
    background-color:white;
    margin: 40px 0 0 60px;
    box-shadow: 0 0 10px rgb(94, 92, 92);
    text-align: center;
    padding: 10px;
    display: inline-block;
}
.pic1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-bottom: 2px solid rgb(121, 121, 121);
}
.profile  i{
    color: black;
    display: block;
    text-align: left;
    margin: 5px;
    padding: 5px;
}
.profile p{
    font-variant: initial;
    font-family: "Open Sans";
    display: inline;
    padding: 20px;
}
.post{
    width: 846px;
    height: 175px;
    background-color: white;
    box-shadow:0 0 10px rgb(94, 92, 92);
    display: inline-block;
    position: absolute;
    top: 90px;
    margin:0 10px;
}
.post h6{
    color: rgb(159, 159, 159);
    font-size: 20px;
    padding:20px 30px;
}
form input[type="text"]{
    width: 780px;
    height: 25px;
    padding: 20px 0;
    border: 0;
    margin-left: 25px;
    border: 2px solid #d8e2e2;
}
.post button{
    margin: 20px 25px;
    padding: 10px 30px;
    background-color: #607d8b;
    border: 0;
    color: white;
}
.post div :hover{
    background-color: gray;
    color: black;
}
.events{
    width: 250px;
    height: 350px;
    background-color:white;
    margin: 0;
    box-shadow: 0 0 10px rgb(94, 92, 92);
    text-align: center;
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: 89px;
    left: 1227px;
}
.events p{
    margin: 15px auto;
    text-align: center;
}
.events img{
    width: 200px;
    height: 150px;
    padding-bottom: 10px;
    margin:auto 25px;
}
.time{
    padding: 15px;
}
.events button{
    background-color: #dfe5e8;
    border: 0;
    color: rgb(0, 0, 0);
    padding: 10px 90px 10px 90px;
    margin: -10px;
}
.events div :hover{
    background-color: #6d7e87;
}
.rel{
    width: 846px;
    height: 620px;
    background-color: white;
    box-shadow:0 0 10px rgb(94, 92, 92);
    display: inline-block;
    position: absolute;
    top: 280px;
    margin:0 10px; ;
}
.pro{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 15px;
}
.rel b{
    font-size: 25px;
    position: absolute;
    top: 43px;
    left: 85px;
}
.rel .min{
    position: absolute;
    right: 15px;
    top: 20px;
}
.cap{
    width: 790;
    padding: 15px;
}
.cap p{
    line-height: 30px;
    text-align: justify;
    border-top: 2px solid gray;
    padding: 10px;
}
.cap1{
    width: 370px;
    height: 300px;
    margin: 0 0 0 45px;
}
.cap2{
    width: 370px;
    height: 300px;
    margin: 0 0 0 5px;
}
.rel .like{
    padding: 10px 30px;
    margin: 15px 0 0 45px;
    background-color: #607d8b;
    border: 0;
    color: white;
}
.rel .comment{
    padding: 10px 30px;
    margin: 15px 0 0 5px;
    background-color: #607d8b;
    border: 0;
    color: white;
}
.cap3 :hover{
    background-color: gray;
    color: black;
}
.rel1{
    width: 846px;
    height: 620px;
    background-color: white;
    box-shadow:0 0 10px rgb(94, 92, 92);
    display: inline-block;
    position: absolute;
    top: 915px;
    margin:0 10px; ;
}
.pro1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 15px;
}
.rel1 b{
    font-size: 25px;
    position: absolute;
    top: 43px;
    left: 85px;
}
.rel1 .min1{
    position: absolute;
    right: 15px;
    top: 20px;
}
.cap4{
    width: 790;
    padding: 15px;
}
.cap4 p{
    line-height: 30px;
    text-align: justify;
    border-top: 2px solid gray;
    padding: 10px;
    
}
.cap5{
    width: 370px;
    height: 300px;
    margin: 0 0 0 45px;
}
.cap6{
    width: 370px;
    height: 300px;
    margin: 0 0 0 5px;
}
.rel1 .like1{
    padding: 10px 30px;
    margin: 15px 0 0 45px;
    background-color: #607d8b;
    border: 0;
    color: white;
}
.rel1 .comment1{
    padding: 10px 30px;
    margin: 15px 0 0 5px;
    background-color: #607d8b;
    border: 0;
    color: white;
}
.cap3 :hover{
    background-color: gray;
    color: black;
}
.cap7 :hover{
    background-color: gray;
    color: black;
}
.rel2{
    width: 846px;
    height: 310px;
    background-color: white;
    box-shadow:0 0 10px rgb(94, 92, 92);
    display: inline-block;
    position: absolute;
    top: 1550px;
    margin:0 10px; ;
}
.pro2{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 15px;
}
.rel2 b{
    font-size: 25px;
    position: absolute;
    top: 43px;
    left: 85px;
}
.rel2 .min2{
    position: absolute;
    right: 15px;
    top: 20px;
}
.cap8{
    width: 790;
    padding: 15px;
}
.cap8 p{
    line-height: 30px;
    text-align: justify;
    border-top: 2px solid gray;
    padding: 10px;
    
}
.rel2 .like2{
    padding: 10px 30px;
    margin: 10px 0 0 45px;
    background-color: #607d8b;
    border: 0;
    color: white;
}
.rel2 .comment2{
    padding: 10px 30px;
    margin: 15px 0 0 5px;
    background-color: #607d8b;
    border: 0;
    color: white;
}
.cap11 :hover{
    background-color: gray;
    color: black;
}
.footer{
    width: 100%;
    height: 80px;
    margin: 28px 0 0 0;
    background-color: #3a4b53;
    position: absolute;
    top: 1840px;
    text-align: center;
}
.powered{
    width: 100%;
    height: 60px;
    margin: 25px 0 0 0;
    background-color: #1e262a;
    position: absolute;
    bottom: -1560px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 12px 0 0 0;
}
.footer i{
    padding: 20px;
    font-size: 30px;
    color: white;
}
.footer :hover{
    background-color: white;
    color: black;
}
.list{
    display: inline-block;
    position: absolute;
    left: -310px;
    top: -1090px;
    text-align: left;
}
.list button{
    width: 300px;
    padding: 15px;
    text-align: left;
    background-color: #7d97a5;
    color: white;
    border: 0;
}
.list :hover{
    background-color: gray;
    color: black;
}
.frind{
    width: 250px;
    height: 320px;
    background-color:white;
    margin: 0;
    box-shadow: 0 0 10px rgb(94, 92, 92);
    text-align: center;
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: 455px;
    left: 1227px;
}
.frind img{
    width: 200px;
    height: 200px;
    padding: 20px;
}
.frind i{
    width: 110px;
    height: 30px;
    background-color: rgb(142, 246, 142);
    padding: 10px;
    display: inline-block;
}
.frind .fa-times{
    width: 110px;
    height: 30px;
    background-color: rgb(220, 76, 76);
    padding: 10px;
    display: inline-block;
    margin: 10px 0 0 0;
}
.frind1 :hover{
    background-color: gray;
    color: white;
}